body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: large;
  color: #202124;
  line-height: 150%;
}

fieldset {
  background-color: #f1f3f4;
  border-color: #80868b;
  max-width: 100vw;
  margin: 0;
}

legend {
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
}

.input-sources {
  margin-bottom: 10px;
}

#result-container {
  position: relative;
  display: inline-block;
}
#result-image {
  max-width: 100%;
}

input,
label,
button,
#drop-zone,
#start-camera,
#overlay-close {
  cursor: pointer;
}

button {
  font-size: 1.67em;
  width: 2em;
  height: 2em;
  -webkit-appearance: none;
  padding: 0;
}

#button-selfie {
  position: relative;
  bottom: 2.2em;
}

#test-images {
  background-color: white;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drop-zone {
  height: 3em;
  outline: dotted 2px #80868b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-camera {
  background-color: white;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone-idle {
  background-color: white;
}

.drop-zone-ok {
  background-color: #34a853;
}

#button-copy-to-clipboard,
#button-download-image {
  position: absolute;
  bottom: 0.35em;
}
#button-copy-to-clipboard {
  right: 2.4em;
}
#button-download-image {
  right: 0.2em;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#camera {
  position: relative;
  display: block;
  margin: auto;
  max-width: 95vw;
  max-height: 95vh;
  /* Mirror view */
  transform: scaleX(-1);
}

#overlay-close {
  position: absolute;
  color: white;
  font-size: 5em;
  line-height: 80%;
  top: 0px;
  right: 0px;
  padding: 0.2em;
}

#log-entries {
  font-family: monospace;
  white-space: pre-wrap;
  margin: 0;
  line-height: 100%;
  height: 5em;
  overflow: auto;
}
