# https://pypi.org/project/gunicorn
gunicorn==20.1.0

# https://pypi.org/project/flask
Flask==2.1.0

# https://pypi.org/project/scikit-image
# scikit-image dependencies include NumPy and Pillow, as well as other libraries
scikit-image==0.19.2
